<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev_sheep.story_of_man_and_woman">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/main_background"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_background"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        >
        <!-- retorufit 사용시 url이 http일 경우 사용 usesCleartextTraffic="true" -->
        <service android:name=".data.MyFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.MainActivity"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name=".view.activity.MystoryActivity"
            android:theme="@style/WriteTheme">
        </activity>
        <activity android:name=".view.activity.LoginActivity"
            android:theme="@style/Theme.App"
            >
        </activity>
        <activity android:name=".view.activity.SignUpActivity"
            android:theme="@style/Theme.App"
            android:noHistory="true">
        </activity>
        <activity android:name=".view.activity.SignUpStartActivity"
            android:theme="@style/Theme.App"
            android:noHistory="true">
        </activity>
        <activity android:name=".view.activity.PasswordSearchActivity"
            android:theme="@style/Theme.App"
            >
        </activity>
        <activity android:name=".view.activity.MyMessageActivity"></activity>
        <activity android:name=".view.activity.MessageActivity"></activity>
        <activity android:name=".view.activity.AlarmActivity">
            <!--            <intent-filter>-->
            <!--                <action android:name="com.example.main.mainactivity" />-->
            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--            </intent-filter>-->

        </activity>
        <activity android:name=".view.activity.ImageActivity">
            <intent-filter>
                <action android:name="com.example.main.mainactivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.CommentActivity"></activity>
        <activity android:name=".view.activity.ReCommentActivity"></activity>

        <activity android:name=".view.activity.FeedSearchActivity">
        </activity>
        <activity android:name=".view.activity.FeedActivity"
            >
        </activity>
        <activity android:name=".view.activity.FeedEditActivity"
            android:theme="@style/WriteTheme"
            >
        </activity>
        <activity android:name=".view.activity.FeedRankActivity">
        </activity>

        <activity android:name=".view.activity.SelectTagActivity"
            android:theme="@style/WriteTheme"
            ></activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dev_sheep.story_of_man_and_woman"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>

</manifest>