  
@charset "UTF-8";


html {
  height: 100%;
}


@font-face {
font-family: 'RIDIBatang';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {  font-family: 'Roboto';  font-style: normal;  font-weight: 100;
  src: url(../font/Roboto-Thin.woff2) format('woff2'),
       url(../font/Roboto-Thin.woff) format('woff'),
       url(../font/Roboto-Thin.otf) format('opentype');}

body {
  overflow: scroll;
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height:100%;
}
img {
  max-width: 100%;
  max-height: wrap;
}

#player{
  width: 100%;
  height: 240px;
}

blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 6px solid #d7dfea;
  background-color: white;

}

#editor {
  display: table-cell;
  outline: 0px solid transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
font-family: 'Roboto';


}

#editor[placeholder]:empty:not(:focus):before {
  content: attr(placeholder);
  opacity: .5;
}}

